.panel-main{
    display:table;
    width: 100%;
    height: 100%;
    position: absolute;
}
.panel-main__inner {
  display: table-cell;
  vertical-align: middle;
  z-index: 800;
  padding: 0 60px;
}
.panel-main__inverted {
  font-weight: 100;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 1px rgb(0 0 0 / 40%);
}
.panel-main__content{ 
    max-width: 620px;
    margin: 0 auto; 
}
.icon {
  display: table;
  width: 100%;
  height: 100%; }

.icon-img{

  height: 150px;
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 30%);
  transition: all .5s;
}
.icon-img:hover {
  border: 3px solid #33f3c9;
transition:all .5s;
transform:rotate(360deg);

}
.icon-con
{
  letter-spacing: 3px;
  font-size: 1.4em;
}
.icon-title {
  margin: 15px 0;
  font-size: 2.5em;
  letter-spacing: 4px;
}

.footer{
  text-align: center;
  font-family: KaiTi;
  
}
.footer-style {
    position: absolute;
    color: #eeeeee;
    bottom: 0;
    left: 0;
    width: 100%;
  background: rgb(0 0 0 /10%);

} 
a{
  text-decoration: none;
  font-family: KaiTi;
  color: #17dbf5;
}
.panel-hr{
  width: 50%;
  margin: 20px auto;
  border-top: 1px solid rgb(184, 65, 65);
  padding: 0; 
}